[2015-06-02 21:30] cewing opened #1 "HTML Component Style Bug"
I am having problems with the code tags in Open edX studio in the HTML editor. Below is the code of my HTML segment

[code]
The Visual editor displays the component as follows:

![image02](https://cloud.githubusercontent.com/assets/417109/7947684/8cb9154a-0933-11e5-90d4-87c2b8d7a7fc.png)

The student view in edX displays it as follows:

![image00](https://cloud.githubusercontent.com/assets/417109/

[2015-06-02 21:31] cewing commented on #1
@natea could you review this and ensure that the scope of action is clear for @bryanlandia

[2015-06-02 21:34] cewing opened #2 "XBlock for SWF Simulations"
How easy is it to add a new component type with some pre-defined text? I've been copy and pasting HTML/javascript from previous courses to add a simulation to a page. However, I think it would be great to have it as an option when we add a New Component so we don't have to think about it. It's not top priority but if it's quick, I think it could save us a lot of time and headaches.

In case it mat

[2015-06-02 21:36] cewing commented on #2
From @natea:

It looks like you're launching a SWF file? Perhaps we could explore using this XBlock which accepts a SWF file as input, and can then display it embedded on the page or can be optionally downloaded. I'm
not sure if it has a pop-up option, but if not, that's something we could add w/o too much work.

[code]

If this flashXBlock doesn't work for you, we could look into building a custo

[2015-06-02 21:37] cewing commented on #2
@natea, the scope of work for this ticket is unclear.  Please clarify exactly which we are to do here from among the options discussed and offered.

[2015-06-02 21:42] cewing opened #3 "Duplicate Tooltips when hovering over course buttons"
In Zen Mojo 3, whenever I point the mouse/cursor at one of the buttons on the navigation bar I see double hover text; one laid on top of the other. It's actually kind of irritating.

See the attached screen capture.

![image01](https://cloud.githubusercontent.com/assets/417109/7947963/62823fde-0935-11e5-80b7-79843020958f.png)

I see this behavior too on staging and on learning. I am on Chrome.

ht

[2015-06-02 21:43] cewing commented on #3
from @natea:

the reason this is happening is because edX is defining the title twice, both as title= and data-page-title=

[code]

My guess is that this is for accessibility and browser compatibility reasons. People who are sight impaired will still see the title= and people who are on older browsers who won't see data-page-title= will still get the message.

But I agree that it's annoying that i

[2015-06-02 21:43] cewing commented on #3
@natea, I don't think there's any clarification required here.

[2015-06-02 21:48] cewing opened #4 "/sysadmin grade report numbers"
Hi all,
I noticed an inconsistency and I am wondering if you know why this is. When looking at the Enrollment Information (under the Instructor tab) for each course and comparing it to the new sysadmin page, I noticed these differences:

Course | Sysadmin | Instructor tab | # staff
---------- | ------------- | ------------------ | --------
DTL | 28 | 26 | 1
Mgmt Portal | 21 | 20 | 2
Zen Mojo for W

[2015-06-02 21:48] cewing commented on #4
@natea perhaps a couple of words about the goal here might be appropriate?

[2015-06-02 23:22] chrisrossi commented on #3
Why do I keep getting these? Is someone adding me?

Chris
On Jun 2, 2015 5:42 PM, "Cris Ewing" notifications@github.com wrote:

[2015-06-02 23:38] cewing commented on #3
apologies, @chrisrossi, you are on a team which has ownership of this repo.  I will remove you if you like.

[2015-06-03 23:59] natea commented on #2
@cguardia @cewing the purpose of this ticket is to investigate whether the flashXBlock will meet their needs. If it doesn't have a pop-up option, we would add that to the JS, so that rather than embedding the Flash file in the edX course page, it would be a link when clicked would show the Flash file in a new window (this is because many of the ISC simulations take up a lot of window space, and wo

[2015-06-04 00:03] natea commented on #4
@cewing @cguardia the customer wants to be able to generate reports about the # of students enrolled in each course, and Jenny is reporting that the instructor tab (right within the course) shows a different number of enrolled students than the # of students when you look at the report at /sysadmin.

The scope of this ticket is to find out why there is a discrepancy and determine the correct numbe

[2015-06-04 15:06] skleinfeldt commented on #4
So I'm thinking this means we need admin access to their current production installation - or better, to a staging environment with a copy of production where we can do debugging? @cewing would you agree?

[2015-06-04 15:10] natea commented on #4
the staging environment has the same un/pw as the production environment,
and that would be the best place to poke around. let me know if you need
SSH access to the server and I can provide that as well.

On Thu, Jun 4, 2015 at 11:06 AM, Sally Kleinfeldt notifications@github.com
wrote:

[2015-06-04 17:54] bryanlandia commented on #1
Fixed in https://github.com/ISCLC/edx-theme/commit/be6cdf313d37fbfcb22cd2e8962cb149b9e40388

[2015-06-04 18:19] bryanlandia commented on #3
@natea - I'm not sure how to reproduce this.  Can I get login credentials to learning.intersystems.com or staging-lms.intersystems.com so that I can see what David and Janine are seeing?  Not sure why they are using a screen capture from 'Zen Mojo 3'... how does that relate to the LMS?  I expected to find this behavior when rolling over tabs in a Course view in the LMS, but I don't on Chrome (albe

[2015-06-04 18:22] bryanlandia commented on #1
@natea - Assigning to you to confirm before closing once you have a duplicated setup... not sure how you are planning to roll out our changes to staging.   Should be simple to test on your staging once you get it set up with named-release/birch edx-platform and our birch branch of ISCLC/edx-theme.

[2015-06-04 18:24] bryanlandia commented on #3
@natea - Ohhhhh.... I found it.  Disregard

[2015-06-04 18:53] bryanlandia commented on #3
Fixed in https://github.com/ISCLC/edx-theme/commit/3e96de003c1f6a37de3b89a69982afe96eb376b1

[2015-06-04 18:54] bryanlandia commented on #3
@natea - Assigning to you to test with your staging integration.  I took a simple approach just deleting the 'title' attribute for now... there might be a way to work with (I think it's) qTip the tooltip library to delete any title attributes on tags but didn't know whether to spend time there or not. - b

[2015-06-05 18:47] skleinfeldt commented on #4
@natea please provide @cguardia and @cewing with username/password for staging/prod and SSH access to staging.

[2015-06-05 21:02] natea commented on #4
ok, i'll send this info Lockify.

On Fri, Jun 5, 2015 at 2:47 PM, Sally Kleinfeldt notifications@github.com
wrote:

##

nate@appsembler.com
+1 (617) 517-4953
http://twitter.com/natea | http://linkedin.com/in/natea

[2015-06-09 23:43] cewing opened #5 "ISC Customizations: Make export tarball name easier to identify"
Preserve the change made in these two commits (first only for context, second represents final state):

* https://github.com/jazkarta/edx-platform/commit/a7ea7a206b1e93b865782fb6328f0d17e2150efa#diff-9c9857a74d1833510d4b8bffb4c02794
* https://github.com/jazkarta/edx-platform/commit/50d31349d95b9e7f9d92db2c1404602595dd2591#diff-9c9857a74d1833510d4b8bffb4c02794

The target for the change is in a [di

[2015-06-09 23:45] cewing commented on #5
@natea: there is a second commit referenced in the document explaining this change, but it appears to be unrelated to this change (the same commit hash appears again in a later set of changes related to the HTML component).  Could you please confirm that [this commit](https://github.com/jazkarta/edx-platform/commit/489f525ed2f420be8790e051365e1c7ef47e3fb0) has nothing to do with the exporting of c

[2015-06-09 23:53] cewing commented on #5
@natea: I do not see any way to make this into a separate add-on package.  It's a change that is deeply embedded in core edx code.  It is possible that it might be accepted as a pull request but highly unlikely as the `course_module.id` used will often look something like this in the new split mongo store:

[code]

This change assumes the old `org/course/run` format, which is now deprecated.

[2015-06-10 00:05] cewing opened #6 "ISC Customizations: Add organization to user profile"
Preserve the changes made in [this commit](https://github.com/jazkarta/edx-platform/commit/b8bb1da5286aee231f53215292e28ee4ff1d1780)

Be sure to fix the indentation errors in the original commit to `common/djangoapps/students/models`

[2015-06-10 00:13] cewing commented on #6
@natea: This change seems pretty uncontroversial (especially in light of the `REGISTRATION_EXTRA_FIELDS` configuration setting).  I think it'd be possible to put this into a pull request.  It would be great if it ended up in edx core and there was no need to keep porting it from named release to named release.

It should be coupled with creating a migration, I think, to simplify the process of upg

[2015-06-10 00:20] cewing commented on #6
We must create a migration if only to keep the migration state synchronized with application model state.

[2015-06-10 00:30] skleinfeldt commented on #5
From the doc:

@natea have you tested Birch to find out how it handles this? If not can you do that? It would be ideal if we could avoid these kind of non-PR-acceptable core changes.

[2015-06-10 00:53] natea commented on #6
Agreed. I don't think edX would oppose an org field. Although I spoke with @andy-armstrong  at the edX birthday party yesterday and described this simple use case of wanting to extend the user profile model with additional fields, and how it's currently necessary to fork edx-platform to do so. He agreed that it should be possible to do simple modifications like this in a less intrusive way.

[2015-06-10 00:58] natea commented on #5
@skleinfeldt I don't think Birch does course exports this way yet. I think TJ was saying that there's discussion about improving course exports on the edx-code mailing list, but that is most likely targeting a future version of edX (Cypress?)

@cewing correct, that commit has nothing to do with this feature. Not sure how it got in there (might have been me just forgetting to give that commit a hea

[2015-06-10 01:06] natea opened #7 "Create HTML5 simulation XBlock"
ISC makes simulations using Adobe Captivate and Camtasia, and exports them as a zip file containing HTML5, CSS and Javascript.

The default upload capability that edX provides only handles the upload of a single file at a time, and has no facility to upload a zip file, and serve up the contents of that zip file.

ISC would like to be able to upload the zip file of the HTML5 simulation and embed th

[2015-06-10 01:25] cewing commented on #7
@natea: How does the HTML5 created emit data about student activity?  And is this different from the SWF xblock ticket currently assigned to @cguardia (#2)?

[2015-06-10 01:31] cewing commented on #5
The import code has changed significantly, but this aspect (calculating the export file's name) has not changed.  The current Birch code uses a deprecated API from a course module and the ISC updates use the course id but make assumptions about the structure of that id that are no longer valid since the advent of the split modulestore.

[2015-06-10 01:31] cewing commented on #5
@natea: that commit is also under the heading of "Online labs", which seems a much better place for it.

[2015-06-10 01:43] cewing opened #8 "ISC Customizations: Online Labs"
Port the changes in [this commit](https://github.com/jazkarta/edx-platform/commit/9f1c9c3785a0ad999e4fc2312e572bf08da9652f).

[2015-06-10 01:45] cewing commented on #8
@natea: this too appears to be something unlikely to be accepted by edx directly.  I suppose we have little choice but to carry it along as a patch to a release tag.

[2015-06-10 01:50] natea commented on #7
@cewing i'm not sure exactly, but I'm guessing that the emit data functionality is provided by the accompanying Javascript files.

This is an alternative approach to the SWF XBlock that would allow them to deliver these simulations to users who are using iOS devices (since SWF doesn't play on iOS).

[2015-06-10 01:53] cewing commented on #8
@natea: never mind.  This can actually be included in the xblock so I'm closing this issue.

[2015-06-10 01:53] #8 closed

[2015-06-10 01:54] natea commented on #8
@cewing agreed that edX will not accept this as a PR since it's very specific to ISC. This was more of an experiment to provide immediate relief for the customer to not have to copy/paste HTML/JS code into a raw HTML unit.

But I think this approach will be replaced by a dedicated XBlock for adding the online labs to an edX course.

[2015-06-10 01:58] cewing opened #9 "ISC Customizations: Create XBlock for launching containers"
A one-off solution for creating a component that would allow a student to launch a container was created in these two commits:

* https://github.com/jazkarta/edx-platform/commit/489f525ed2f420be8790e051365e1c7ef47e3fb0 (creates the html for the component)
* https://github.com/jazkarta/edx-platform/commit/9f1c9c3785a0ad999e4fc2312e572bf08da9652f (patches the existing html xmodule to allow for passi

[2015-06-10 01:59] cewing commented on #9
@natea: can you provide some examples of the types of customization that would be required to support _arbitrary_ container launchers?  What exactly does that mean?

[2015-06-10 02:18] cewing opened #10 "ISC Customizations: Improvements to LTI xmodule"
Preserve the changes made in the following two commits:

* https://github.com/jazkarta/edx-platform/commit/ebcf93002557176102df2bf93ab79a979aaf0fba
* https://github.com/jazkarta/edx-platform/commit/8d771a5c1c16b9b82b1a5148f019a96e391f2c62

If possible, convert the `lti_spec_namespace` which is currently hard-coded to a configurable field that defaults to the value set in the original EdX code (htt

[2015-06-10 02:22] cewing commented on #10
@natea: this seems like the type of thing that ought to be made a PR against EdX.  Making the LTI namespace configurable would allow the block to work with LTI Providers that don't use the "standard" namespace (like SCORMCloud).  Even in the light of a pending 'scorm-cloud' xblock, these changes would be useful (and are non-harmful to the existing implementation, I think).

[2015-06-10 02:27] cewing commented on #8
yeah @natea, that's why I closed this issue in favor of #9

[2015-06-10 02:49] natea commented on #9
@cewing We have a small snippet of javascript code (provided upon request) that will talk to our container launcher API and spin up new containers, and return a URL to the student.

Currently, the only parameters that are required are:
            owner_email: "%%USER_EMAIL%%",
            project: "Healthshare"

The "Project" parameter can be any project that has been pre-defined in our container

[2015-06-10 02:50] natea commented on #10
@cewing agreed.

[2015-06-10 18:37] bryanlandia commented on #5
@cewing @natea - The target function is actually the same as modified by tkeemon for the named-release/birch tag.  There is a new function create_export_tarball (called by export_handler) created on master since the official Birch release.  I have duplicated tkeemon's naming changes in the import_export.py file based on its status at named-release/birch. Issue still pending running tests successfu

[2015-06-11 06:04] bryanlandia commented on #5
Should be complete with
https://github.com/jazkarta/edx-platform-for-isc/commit/a64ebfe7a4c28c42569262c7540f42463b9382a3

[2015-06-11 06:04] bryanlandia commented on #6
Should be complete with https://github.com/jazkarta/edx-platform-for-isc/commit/fc3848689e342ecb72302dd2573aef165e76f370

[2015-06-11 16:07] cguardia commented on #4
@natea , lockify?

[2015-06-11 19:04] cguardia commented on #2
The XBlock does not have a popup option, but I have added one locally. Should we fork?

I installed the XBlock manually, but I'm not sure how to add one to the configuration.

[2015-06-11 19:14] natea commented on #4
@cguardia send me your public key and i'll add you the authorized_keys.

[2015-06-11 19:17] skleinfeldt commented on #7
Hold on this until @natea gives the OK.

[2015-06-11 19:18] natea commented on #9
@cguardia i'll send you the javascript snippet by email instead of pasting it in here.

[2015-06-11 19:48] bryanlandia commented on #5
@natea - Complete. please review at yr convenience.

[2015-06-11 19:56] natea commented on #4
@cguardia @bryanlandia i added your public keys to the staging server, so you should be able to login now using the 'ubuntu' user.

[2015-06-11 21:20] natea commented on #2
I'd say fork it and submit a PR to the author. Were you able to add it to
the configuration from the pointers I gave you during our standup call
today?

On Thu, Jun 11, 2015 at 3:04 PM, Carlos de la Guardia <
notifications@github.com> wrote:

##

nate@appsembler.com
+1 (617) 517-4953
http://twitter.com/natea | http://linkedin.com/in/natea

[2015-06-12 03:15] bryanlandia commented on #10
I've made a pull request to 'isc-birch-patches' branch of edx-platform and a related push to birch branch of ISCLC/ISC (edx configuration).  Have to get my head around how I want to do the PR to edx master, though.

[2015-06-12 19:00] natea commented on #9
@cguardia sent you the js snippet by email.

[2015-06-12 19:05] natea commented on #1
@bryanlandia could you please document all the steps, in order to get an environment set up such that I can test and review these issues?

[2015-06-12 19:25] bryanlandia commented on #6
@natea -please review once I get you instructions to set up your environment

[2015-06-12 20:18] bryanlandia commented on #1
@natea (also @cewing @cguardia @skleinfeldt) - I've written up the steps I've used to create my Vagrant vm based on named-release/birch, using our isc/birch edx-platform, and our birch branch of isc.  It's more manual than what was set up before pre-birch (but I never got to work) at /Jazkarta/ISC/ but it worked for me.  Let me know if you have any issues

https://github.com/jazkarta/edx-platform-

[2015-06-13 00:02] bryanlandia commented on #4
Confirmed that at least one course shows a discrepancy between # enrolled shown on Instructor tab and /sysadmin page.

ISC1007 Zen Mojo for Web-based Applications
http://staging-lms.learning.intersystems.com/courses/InterSystems/ZM01/2015/instructor#view-course_info :  20 enrolled
http://staging-lms.learning.intersystems.com/sysadmin/staffing : 21 enrolled

Other courses show same number of enroll

[2015-06-13 00:12] bryanlandia commented on #4
/sysadmin's count of enrolled students includes inactive students, while the Instructor tab's count does not, thus the discrepancy.  Not exactly a bug, but confusing.  I'm going to do a little research on what is meant by inactive students.  Should the Instructor's tab include inactive student?  It displays number of students by category (verified, audit, or honor).  @natea Is it useful for an ins

[2015-06-13 00:16] bryanlandia commented on #4
[code]

[2015-06-13 00:56] bryanlandia commented on #4
The enrollment CSV report generated by task or directly on the page also exclude the inactive students
(http://staging-lms.learning.intersystems.com/courses/InterSystems/ZM01/2015/instructor#view-data_download)

Also, confirmed that another course (InterSystems/TrakCare/2014) with 1 inactive student counts 22 students at /sysadmin and 21 on the Instructors tab.

The `is_active` field is set to `0`

[2015-06-13 04:11] bryanlandia commented on #4
I fixed the numbers in the sysadmin enrollment table so that they don't include inactive/unenrolled students.
@natea - Please review.

[2015-06-13 04:13] bryanlandia commented on #4
This would be a good PR for edx-platform, too.

[2015-06-15 18:31] cewing opened #14 "ISC Customizations: Preserve changes to enrollment and login"
The changes in these three changesets:

* https://github.com/jazkarta/edx-platform/commit/0f69dd9b1ea93dc63f9be74b564996ba902b85c2
* https://github.com/jazkarta/edx-platform/commit/6bf11a6f65cc32c2f81150bae511fdf1d687c9c8
* https://github.com/jazkarta/edx-platform/commit/e7bda45fa74308245e89fd4dfe89ecb6280f7784

should be preserved.  The expected outcome is that for a course with an enrollment dom

[2015-06-15 18:32] cewing commented on #14
@natea: the document leaves it unclear whether the point about disallowing immediate login for students on activation is desired.  Can we get follow-up on that question?

[2015-06-15 18:54] cewing opened #15 "ISC Customizations: Allow arbitrary course intro video urls and embed codes"
The existing edx implementation only allows for adding a course intro video by YouTube id.  ISC has customized that to allow for an arbitrary video url as well as a hand-composed embed code.  The changes are in these two changesets:

* https://github.com/jazkarta/edx-platform/commit/8a5b5953e2a99297ba0c87afb7e802eecd93b109
* https://github.com/jazkarta/edx-platform/commit/d6ab5cd1c10d711901c3331db

[2015-06-15 18:55] cewing commented on #15
@natea could you please follow up on the open question of whether the ISC people require arbitrary embed codes in addition to arbitrary video urls?  The document does not make that clear.

[2015-06-15 18:59] bryanlandia commented on #14
@natea - I'll start on issue 14 other than the last changeset and wait to see your reply to cewing's question about disallowing immediate login.

[2015-06-15 19:42] cewing opened #16 "ISC Customizations: Allow self-completed courses"
The work allowing this was completed in the following changesets:

* https://github.com/jazkarta/edx-platform/commit/1592b27554d836280d2e776f0ba3326d0d30c30b
* https://github.com/jazkarta/edx-platform/commit/6ea02a1932db6fbabc8d2dca264c0cf569d2561a
* https://github.com/jazkarta/edx-platform/commit/10dced4bf62beb237645a12822c3735aef43effb

There are a few open questions to the original author, @cgu

[2015-06-15 20:45] bryanlandia commented on #14
I'll normalize to a lowercase comparison with User email domain in the can_enroll method, too, so that we catch User objects created before the implementation of the normalization via receiver in the Student model file.

[2015-06-15 20:55] bryanlandia commented on #14
Changesets 1 and 2 complete.

[2015-06-15 21:27] bryanlandia commented on #9
@cguardia - Can you send me the js snippet from Nate?

[2015-06-15 21:27] bryanlandia commented on #9
bryan@woollyandwise.com

[2015-06-15 21:54] bryanlandia commented on #9
@natea  - Some questions about the current xmodule implementation for launching containers.
What I see is a template which uses HTML5 `postMessage` to post data to this url:
https://isc.appsembler.com/isc/deploy/
included in a hidden `iframe` in the template.  I get a 404 when browsing to that URL, but my understanding is that /isc/deploy is supposed to do all of the magic to instantiate the Docke

[2015-06-15 23:01] cguardia commented on #9
https://gist.github.com/natea/fbe946da028b6631304b

[2015-06-15 23:01] cguardia commented on #9
Better to have available here, I think.

[2015-06-15 23:05] bryanlandia commented on #9
Thanks, @cguardia.  @natea - I see now from this snippet that the URL for the iframe postMessage is https://isc.appsembler.com/isc/newdeploy/, which returns a web page with some related JS.  So, that makes more sense now.  So, now just wondering if that URL should be configurable.  I'm guessing not...

[2015-06-16 01:33] natea commented on #9
@bryanlandia eventually we'll want the URL to be configurable, but for purposes of ISC, the URL (https://isc.appsembler.com/isc/newdeploy/) doesn't need to change.

What we might want to have configurable is the URL of the container that gets returns, or rather the suffix of the URL to direct the student to different pages within the site to complete a particular exercise.

[2015-06-16 19:02] cewing commented on #10
@bryanlandia: I've commented on the PR, can you take a look there?  @natea: you too, please.

[2015-06-16 19:20] natea commented on #10
@nedbat can you remind us how we could add a dictionary with coursewide parameters, so we don't have to override the LTI namespace directive to each instance of the LTI xmodule?

[2015-06-16 19:24] cewing commented on #16
We need to evaluate whether the ability to have on-demand certificates is available in the birch named release.  @cguardia, might you take this on?

[2015-06-16 19:27] natea commented on #14
Jeanne from ISC says: "It is best to do this to prevent misuse.  Making real users confirm that the email is valid and that they made the request prevents automatic generation from bots and mischief makers, etc.  If you don't have this, you may find your environment hijacked with many environments spun up - taxing resources and adding to overall cost.  Better to make them take the extra step I thi

[2015-06-17 18:46] natea commented on #16
@cguardia what did you find out about the Birch capabilities versus what you built?

[2015-06-17 18:48] natea commented on #15
@cewing I asked Jenny in the gdoc "Intersystems enhancements to Open edX" if they need both video embed codes or just video urls.

[2015-06-17 18:49] cewing commented on #15
@natea great.  Can you transcribe her response, when it arrives?

[2015-06-17 18:59] natea commented on #15
yes, it will likely come as a comment on that gdoc, but i can paste it into
this issue so we have it documented all in one place.

On Wed, Jun 17, 2015 at 2:49 PM, Cris Ewing notifications@github.com
wrote:

##

nate@appsembler.com
+1 (617) 517-4953
http://twitter.com/natea | http://linkedin.com/in/natea

[2015-06-17 19:05] natea commented on #9
@bryanlandia i can see that you pushed the xblock_launchcontainer repo, so i'll take a look as soon as I get my Birch environment setup.

[2015-06-17 19:05] natea commented on #6
@bryanlandia will do.

[2015-06-17 19:05] natea commented on #5
@bryanlandia will do.

[2015-06-17 19:07] natea commented on #4
@bryanlandia i think this /sysadmin feature was contributed by MITx, so might be good to have someone on their team take a look at it.

oh, and how does the system define an "inactive" student?

[2015-06-17 19:07] bryanlandia commented on #9
@natea - It's not complete yet.  I'll let you know when it's ready for review

[2015-06-17 19:10] natea commented on #2
@cguardia any feedback from the author on the PR?

[2015-06-17 19:12] cguardia commented on #2
No feedback yet. We might need to use my fork if nothing comes from it.

[2015-06-17 19:21] cpennington commented on #10
@natea there's the `SettingsService`, which reads out of django settings. It's not per-course, though.

Otherwise, until we get something that functions as a course-scope, your best bet is probably to use an inherited field to allow the field to be set on the course, and then to flow down to the LTI xblock.

[2015-06-17 19:24] cewing commented on #10
@cpennington, so this would be a field in the course settings, perhaps advanced settings or the like, which would be then inherited by blocks within the course?

[2015-06-18 13:43] cguardia commented on #16
Birch does not have the request certificate capability. However, I think it would be better for us to back port the feature, rather than using the earlier code I wrote.

[2015-06-18 13:55] cguardia commented on #2
Still no feedback. Here's my fork, just in case:

https://github.com/cguardia/flashXBlock

[2015-06-18 16:15] natea commented on #16
@cguardia are you saying that Birch doesn't have it but the current master branch has it? We could also just wait until Cypress comes out which will surely have it, if they don't need this feature until then.

[2015-06-18 16:22] cguardia commented on #16
Yeah, Birch doesn't have it but it's on master.

[2015-06-18 16:30] cguardia commented on #16
To be clear, what's on master does more or less what I did, but is better integrated, so I would say if we can wait, let's wait, if not let's back port it.

[2015-06-18 19:15] skleinfeldt commented on #16
@cguardia please go ahead with the backporting idea. @natea isn't available today, and @cewing and I think it's the way to go. Just make sure it will be easy to remove when they upgrade to the next release.

[2015-06-19 23:28] natea commented on #14
@bryanlandia what about the 3rd changeset?

[2015-06-19 23:30] natea commented on #7
As far as exporting the Captivate/Camtasia simulations as HTML5, and embedding those in an edX course, we'd have to make an XBlock that:

1) handles the uploading of the zip file into edX (we've done this before for the Staff Graded Assignment XBlock so could probably reuse a lot of that code)
2) unzip the file and store the files somewhere accessible to edX (probably in S3)
3) allow the simulatio

[2015-06-19 23:30] natea commented on #7
I just did a little experiment using Google Drive, and was able to host the Selecting Patient HTML5 simulation.

once you've enabled the google drive folder to be "viewable to anyone
with the link" (see attached screenshot), then you need to replace the
folder URL with this:

https://googledrive.com/host/A1B2C3D4E5F6G7H8J9

where A1B2C3D4E5F6G7H8J9 is the ID of the folder resource (can explain
thi

[2015-06-19 23:36] bryanlandia commented on #14
@natea  - Starting on this in a minute...

[2015-06-22 18:34] bryanlandia commented on #9
@cewing - Please have a look at https://github.com/jazkarta/xblock-launchcontainer
I've got coverage of the basics of the student view, studio edit view, and saving the xblock.  I haven't added any Selenium tests, but the proper functioning is dependent on the isc.appsembler.com Django site anyhow.

[2015-06-22 19:17] bryanlandia commented on #14
Merged fix branch to isc-birch-patches branch.  @natea - ready to review.

[2015-06-23 02:53] bryanlandia commented on #15
PR https://github.com/jazkarta/edx-platform-for-isc/pull/18
handles both changesets.  There wasn't yet a definitive answer about the second changeset from Jenny, but having looked at the code, there wasn't a significant difference in amount of work between implementing one or both and I couldn't see a real downside to allowing embed code, too.

[2015-06-23 19:19] skleinfeldt commented on #2
We're going to assume we're going to use the fork.

[2015-06-24 19:47] bryanlandia commented on #9
@skleinfeldt  - Just recording here @natea's request "Also, can you make the URL isc.appsembler.com configurable in xblock_containerlauncher?

I'm thinking it's either something that could be configured sitewide or even coursewide.

Cale suggested a way to do this on the LTI github issue."

[2015-06-24 20:20] cguardia commented on #16
The work I have done on this is here:

https://github.com/jazkarta/edx-platform-for-isc/tree/backport-auto-certification

There are still some test failures. @bryanlandia, @natea will you take care of those or do you want me to track them down?

[2015-06-25 16:00] bryanlandia commented on #10
@natea Turns out `SettingsService` wasn't implemented for XBlocks until after the official Birch release.  Weird thing is that the release's version of `xblockutils` has mixins for `XBlock` that are set up to use `SettingsService`.  I'm going to do a bit more looking to see if we should just grab the new `xmodule.services` code with `SettingService` for our edx-platform 'fork' or go a different ro

[2015-06-25 18:42] natea commented on #10
Thanks for the update Bryan. With the Cypress release just around the
corner, it might be best to wait for that since it'll have the
SettingsService for sure.

[2015-06-25 19:22] bryanlandia commented on #10
@natea - OK, so put this one on hold?  Will the work on this remain part of the Jazkarta contract?

[2015-06-25 19:23] bryanlandia commented on #10
PS  I do have a branch with what should be needed once `SettingsService` is ready to go.

[2015-06-28 18:54] bryanlandia commented on #9
About above request, see comment https://github.com/jazkarta/edx-platform-for-isc/issues/10#issuecomment-115304208 - Cale's suggestion isn't doable yet in Birch.  It requires `SettingsService` which wasn't available until after that named release.  So this request should be put on hold til Cypress.

[2015-06-28 18:56] bryanlandia commented on #15
@natea - ready for review

[2015-06-29 14:35] natea opened #20 "Revert course handouts removal"
Course handouts

There was as change to made to handle “Course Handouts” that prevents us from editing that information and having it display. This is information from TJ:

Just following up on this old ticket.

I looked into the code and it seems like the Handouts section isn't appearing on the Course Info tab because it was deliberately removed by Jazkarta (the date of the code change was 9/30/2

[2015-07-07 22:03] tkeemon commented on #20
This is the commit I was referencing in the email:
https://github.com/ISCLC/edx-theme/commit/0ed9b8443ce927c0a5d44ff023f3e95d11a81e7d

[2015-07-08 15:37] bryanlandia commented on #20
Might only have enough time left in the Jazkarta contract to just put back the handouts section, but will look at having videos appear in a popup.

[2015-07-10 18:55] bryanlandia commented on #16
There are a lot of broken tests in `named-release/birch` "out of the box", at least using `--settings-test` (don't know why we wouldn't use those settings for `manage.py lms test`...) making it very difficult to determine if new changes are causing any problems.

I can see that a whole slew of tests started breaking between edx-platform commits:
435b75b1940b7af7eaba7163a37bda7d67cd50b6 (working)
a

[2015-07-10 20:08] bryanlandia commented on #16
OK, I've checked all of the relevant tests in the certificates and courseware django apps and they all look good to me (had to fix a couple of problems with my vm and delete some pyc files first!)  It's ready to go.

[2015-07-10 20:10] bryanlandia commented on #16
Merged https://github.com/jazkarta/edx-platform-for-isc/pull/21 to isc-birch-patches
@natea... please review

[2015-07-10 20:11] bryanlandia commented on #20
Deletion of theme template override made directly to ISCLC/edx-theme birch branch.
@natea .. Please review

[2015-07-17 00:49] natea opened #22 "Web-based SSH client"
Investigate https://github.com/liftoff/GateOne
and see about turning it into an XBlock

there is also this:
https://github.com/METIT-BU/xblock-carouselworkspace

[2015-07-17 20:10] bryanlandia commented on #22
My understanding of Stuart's use case is this:  ISC provides training in HealthShare, Cache, Ensemble via Open EdX LMS.  As part of training, they want to provide browser-based shell access to a machine running HealthShare, Cache, Ensemble, depending on the course.  My guess is that they might like this to be available in a tab on the Course, rather than just within a specific unit, so that the st

[2015-07-18 02:55] natea commented on #9
@bryanlandia this PR lets XBlocks use Django settings, so that's probably where we could define isc.appsembler.com as a configurable URL. https://openedx.atlassian.net/browse/OSPR-427

[2015-07-22 13:21] natea commented on #22
@bryanlandia does anything need to run on the server for GateOne? My understanding was that it was just a javascript-based client that connects over TCP to a remote SSH server (in our case, a Docker container)?

[2015-07-22 15:09] bryanlandia commented on #22
@natea - Yes, GateOne involves server code.  GateOne uses Python (with the Tornado framework) to run a daemonized process that handles the terminal processes.

[2015-07-30 08:41] bryanlandia commented on #3
Confirmed working on isc_appsembler_dev Birch site.

[2015-07-30 08:43] bryanlandia commented on #6
confirmed working in the isc_appsember dev site

[2015-07-30 08:45] bryanlandia commented on #14
changeset 3 (no auto login after user account creation) confirmed working on isc_appsembler dev site

[2015-07-30 08:47] bryanlandia commented on #20
Confirmed working on isc_appsembler dev site

[2015-08-12 18:24] #20 closed

[2015-08-12 19:03] bryanlandia commented on #16
@natea - I've been reviewing this Issue again and given my recent conversation with Jennifer,  I'm not sure that this backporting is providing the feature set they want.  I'm digging through the difference between the core edX auto certification and what Carlos had previously implemented.

[2015-08-12 19:29] natea commented on #16
@bryanlandia if it's not doing what they expect, should we take the old feature that Jazkarta developed and move it forward to Birch, rather than using the new feature that edX provides?

[2015-08-12 19:37] bryanlandia commented on #16
@natea - I'm sorting through the differences and comparing with the conversation in https://secure.helpscout.net/conversation/111514176/503/ . Will get a plan together

[2015-08-12 20:01] bryanlandia commented on #16
Here are the differences I see between the three changesets implemented by @cguardia and what is provided by core edX's auto-certification:

cguardia:
- certificates are not queued to xqueue for generation but start with a 'downloadable' status
- progress tab for course will display a complete course button if student has passed the success cutoff value for the course
- complete course button that

[2015-08-12 21:37] bryanlandia commented on #16
core edX (post-Birch, backported):
- relies on the xqueue to generate certificates
- allow certificate generation configuration per course
- adds messages (cert is ready) 'your certificate is available' and 'download' or, (cert is not ready but is in the queue) 'we're working on it'; or, 'congratulations you qualified for a certificate' and 'generate certificate' button to the progress page (if st

[2015-08-12 21:48] bryanlandia commented on #16
I recommend reverting the backporting/merging  of the post-Birch auto-generated certificate code and going back to Carlos' previous code.  ISC doesn't use certificates, so all of the language around auto-generated certificates needs to be changed and the functionality for configuring/enabling auto-generated certificates, generating Example Certificates before allowing access to the configuration o

[2015-08-13 03:00] natea commented on #16
@bryanlandia does this pose any problems if ISC decides later that they want to start using certificates?

[2015-08-13 15:32] bryanlandia commented on #16
yes, the code would need to be changed if they start using certificates.  the language won't make sense and the xqueue for cert generation would need to be re-enabled.

[2015-08-13 16:00] natea commented on #16
Could we have both course complete button and cert generation or is it a
one or the other situation?

On Thursday, August 13, 2015, Bryan Wilson notifications@github.com wrote:

##

Website: http://www.appsembler.com
Blog: http://www.appsembler.com/blog
Twitter: http://twitter.com/natea
LinkedIn: http://linkedin.com/in/natea
Phone: +1 (617) 702-4331

[2015-08-13 17:17] bryanlandia commented on #16
I'm looking into it.  With Carlos' older code, the complete course button function uses some of the state machinery of the certificates API, but just sets the certificate state to `downloadable` immediately, and the code that updates the xqueue with the new cert to generate is commented out.  That disables the generation/updating queue/callback functionality for certificates.  It's an expedient bu

[2015-08-13 20:47] natea commented on #16
Sounds good. Let's go with your suggestion, and revisit the certs question
with the Cypress upgrade.

On Thu, Aug 13, 2015 at 1:17 PM, Bryan Wilson notifications@github.com
wrote:

##

Website: http://www.appsembler.com
Blog: http://www.appsembler.com/blog
Twitter: http://twitter.com/natea
LinkedIn: http://linkedin.com/in/natea
Phone: +1 (617) 702-4331

[2015-08-24 20:16] bryanlandia commented on #15
Closing after review on staging server.

[2015-08-24 20:16] #15 closed

[2015-08-24 20:18] bryanlandia commented on #16
We reverted the post-Birch core certificate merge and went with the older code, with some modifications.  Closing after review on staging server.

[2015-08-24 20:18] #16 closed

[2015-08-24 22:46] bryanlandia commented on #6
Closing as deployed and tested on staging.

[2015-08-24 22:46] #6 closed

[2015-08-24 22:50] bryanlandia commented on #5
Closed as deployed and working on staging.

[2015-08-24 22:50] #5 closed

[2015-08-24 23:24] bryanlandia commented on #10
The code in the PR as is has been deployed to staging.  I'm placing this Issue on hold to revisit when we upgrade ISC to Cypress.  At that point we can look again at making the namespace spec URL configurable per course/XBlock instance.

[2015-08-24 23:31] bryanlandia commented on #4
@natea - re: how system defines 'inactive', see https://github.com/jazkarta/edx-platform-for-isc/issues/4#issuecomment-111649306 above (basically, when student unenrolls they become 'inactive').
Do you have a contact already with MITx?

[2015-08-24 23:38] bryanlandia commented on #4
Deployed and working on staging so closing issue, but will follow up with MITx and/or look and see if it's been fixed anyhow in Cypress.

[2015-08-24 23:38] #4 closed

[2015-08-24 23:41] bryanlandia commented on #3
Deployed and working on staging.  Closing

[2015-08-24 23:41] #3 closed

[2015-08-24 23:42] bryanlandia commented on #2
Deployed and working on staging.  Closing.

[2015-08-24 23:42] #2 closed

[2015-08-24 23:49] bryanlandia commented on #1
This is deployed on staging but is not working. The span tag CSS is overrideing the code tag CSS still.  Will revisit tomorrow...

[2015-08-25 18:56] bryanlandia commented on #1
Closing—working on staging.

[2015-08-25 18:56] #1 closed

[2020-01-19 01:32] chenly23 commented on #7
Hi. Is there a result of the HTML5 simulation xblock?I am preparing to try xblock for HTML5 zip recently, I do really believe that the HTML5 will improve course interactivity.